<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956961195591-2jsfoe43s5j5njdvm3uo23pikdkvroip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956961195591-2jsfoe43s5j5njdvm3uo23pikdkvroip</string>
	<key>API_KEY</key>
	<string>AIzaSyCqESqoF7W7oY4jmF371x7nda2gquAhMCE</string>
	<key>GCM_SENDER_ID</key>
	<string>956961195591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assign11.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nomadthread-e9e06</string>
	<key>STORAGE_BUCKET</key>
	<string>nomadthread-e9e06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956961195591:ios:d42e005126875473375362</string>
</dict>
</plist>